# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Database files
*.db
*.db-journal
*.db.bak

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# JSON data files (optional, uncomment if you don't want to push data)
# *.json

# Temp files
*~
.DS_Store 